/* Base Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Box Sizing and Font Sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    background: black;
    color: white;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .author-name {
    font-size: 3rem;
    font-weight: 800;
  }
  
  /* Nav Styling */
  
  .nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: black;
  }
  
  @media (max-width: 61.25em) {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-list {
      margin: 0rem;
    }
    .nav-list a {
      padding: 1rem 0rem 1rem 0rem;
    }
  }
  
  .author {
    padding: 1.6rem;
    
  }
  
  @media (max-width: 61.25em) {
    .author {
      margin-left: 0rem;
      padding: 1rem 0rem 0rem 0rem;
    }
  }
  
  .nav-list {
    display: flex;
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2.2rem;
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }
  
  .nav-list a:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-out;
  }
  
  /* Welcome Section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/daezpv949/image/upload/v1561320542/WiONHd_zYI4_Full_dotjzc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 61.25em) {
    .welcome-section {
      background-image: url("https://res.cloudinary.com/daezpv949/image/upload/v1561321526/Screenshot_20190624-015254_iz3oh0.png");
      background-position: center;
    }
  }
  
  /* About Section */
  
  .about-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    padding: 0 2rem;
    background: white;
    color: black;
  }
  
  .about-section h2 {
    margin: 3rem 0 2rem 0;
    align-self: center;
  }
  
  .about-section p {
    width: 75%;
    margin: 1rem 0 3rem 0;
    align-self: center;
  }
  
  .skills {
    margin-bottom: 4rem;
    background: #f2f2f2;
    padding-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
  
  .skills-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 6rem 0 6rem;
  }
  .skills h3 {
    margin: 2rem 0 1rem 0;
  }
  
  .skills-items > span {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s ease-out;
  }
  .skills-items span {
    font-size: 4.8rem;
    margin: 1rem 0px 1rem 0px;
    color: black;
  }
  
  .skills-items {
    align-items: center;
    text-align: center;
  }
  
  #html5:hover > span {
    color: #e34c26;
  }
  #css3:hover > span {
    color: #55acee;
  }
  #sass:hover > span {
    color: #eb1460;
  }
  #c:hover > span {
    color: #00008b;
  }
  
  #js:hover > span {
    color: #3fc5f2;
  }
  
  @media (max-width: 61.25em) {
    .about-section h2 {
      margin: 2rem 0 1rem 0;
      align-self: center;
    }
  
    .about-section p {
      width: 90%;
      margin: 1rem 0 2rem 0;
      align-self: center;
    }
  
    .skills h3 {
      margin: 1rem 0 0.5rem 0;
    }
    .skills-row {
      margin: 0 1rem 0 1rem;
    }
    .skills {
      margin-bottom: 3rem;
    }
  }
  
  /* Projects Section */
  
  .projects-section {
    text-align: center;
    padding: 0 2rem;
    background: white;
    color: black;
    padding-bottom: 5rem;
  }
  
  .projects-section-header {
    padding: 3rem 0 2rem 0;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  .projects-section-details {
    margin: 1rem 0 6rem 0;
  }
  
  @media (max-width: 61.25em) {
    .projects-section-details {
      text-align: justify;
      padding: 0 3rem;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
  }
  
  .code {
    color: #f2f2f2;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #6e6572;
  }
  
  .project:hover .project-image {
    opacity: 0.7;
  }
  
  .project:hover .project-titles {
    color: #6e6572;
  }
  
  .project-image {
    border-radius: 1rem 1rem 0 0;
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-out;
  }
  
  .project-titles {
    color: black;
    font-size: 2rem;
    padding: 2rem 0.5rem;
    transition: color 0.3s ease-out;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: black;
    transition: background 0.3s ease-out;
    border-color: black;
    border-style: solid;
    border-width: 2px;
  }
  
  .btn-show-all:hover {
    background: white;
    border-color: black;
    color: black;
    border-style: solid;
    border-width: 2px;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(3px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact Section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
  
  .mail:hover > i {
    color: white;
  }
  
  .mail > i {
    color: black;
    transition: color 0.3s ease-out;
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
    padding-top: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #2d2d2d;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  #fac:hover > i {
    color: #3b5998;
  }
  
  #git:hover > i {
    color: #f4cbb2;
  }
  
  #twet:hover > i {
    color: #38A1F3;
  }
  
  .contact-details > i {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s ease-out;
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 61.25em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .link:hover > i {
    color: #006400;
  }
  
  .link > i {
    color: white;
    transition: color 0.3s ease-out;
  }