<section class="hero is-medium has-text-centered has-background-white is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                  <br>
                  <div class="box has-background-light">  
                    <figure class="image">
                        <img src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                  </div>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <hr style="height: 2px ;background-color:grey">
                    <br>
                    <p class="has-text-dark">Hello there! People call me Debojeet Das. I'm basically a computer science student who is deeply interested in technology and I also want to learn more about computer science, how it works and how can we develop it to another level.</p>
                    <br>
                    <p class="has-text-dark">I enjoy solving problems and make technology easy for people to use. I just can't keep my hands off from learning new things and mastering my skills; as the saying goes, "if you know you can do better, then do better". So, developing apps and software which will make life easier is the main motto of my life.</p>
                    <br>
                    <hr style="height: 2px ;background-color:grey">           
                </div>
            </div>
        </div>
      </section>
<section class="section has-background-white">
  <div class="tile is-ancestor ">
    <div class="tile is-parent">
      <article class="tile is-child box has-background-white has-text-dark">
        <h3 class="title is-3 has-text-dark">Education</h3>
        <hr style="height: 2px ;background-color:grey">
        {% for education-item in site.data.education %}
        <p>- {{ education-item.course }}</p>
        <p> &nbsp; {{ education-item.place }}</p>
        <p> &nbsp; {{ education-item.period }}</p>
        <br>
        {% endfor %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-white has-text-dark">
        <h3 class="title is-3 has-text-dark">Tools</h3>
        <hr style="height: 2px ;background-color:grey">
        {% for tool in site.data.tools %}
        <p>- {{ tool }}</p>     
        {% endfor %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-white has-text-dark">
        <h3 class="title is-3 has-text-dark">Technologies</h3>
        <hr style="height: 2px ;background-color:grey">
        {% for technique in site.data.technologies %}
        <p>- {{ technique }}</p>       
        {% endfor %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-white has-text-dark">
        <h3 class="title is-3 has-text-dark">Certifications</h3>
        <hr style="height: 2px ;background-color:grey">
        {% for certificate in site.data.certifications %}
        <p>- {{ certificate }}</p>
        {% endfor %}
      </article>
    </div>
  </div>
<hr>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Interests</p>
        <hr style="height: 2px ;background-color:grey">
        <div class="content">
          {% for interest in site.data.interests %}
          <p>- {{ interest }}</p>
          {% endfor %}
        </div>
      </article>
    </div>
    <div class="tile is-parent is-8">
      <article class="tile is-child box">
        <p class="title">About this site</p>
        <hr style="height: 2px ;background-color:grey">
        <div class="content">
          {% for content in site.data.aboutsite %}
          <p>> {{ content }}</p>
          <p></p>
          {% endfor %}
        </div>
      </article>
    </div>
    
  </div>
</section>