<section class="hero is-medium has-text-centered has-background-black is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <hr>
                    <p class="has-text-white">Hello there! People call me Debojeet Das. I'm basically a computer science student who is deeply interested in technology and I also want to learn more about computer science, how it works and how can we develop it to another level.</p>
                    <br>
                    <p class="has-text-white">I enjoy solving problems and make technology easy for people to use. I just can't keep my hands off from learning new things and mastering my skills; as the saying goes, "if you know you can do better, then do better". So, developing apps and software which will make life easier is the main motto of my life.</p>
                    <hr>           
                </div>
            </div>
        </div>
</section>
<div class="columns">
    <div class="column">
      First column
    </div>
    <div class="column">
      Second column
    </div>
    <div class="column">
      Third column
    </div>
    <div class="column">
      Fourth column
    </div>
  </div>