<section class="hero is-medium has-text-centered is-light is-bold" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <p>Hello there! People call me Debojeet Das. I'm basically a computer science student who is deeply interested in technology and I also want to learn more about computer science, how it works and how can we develop it to another level.</p>
                    <br>
                    <p>I enjoy solving problems and make technology easy for people to use. I just can't keep my hands off from learning new things and mastering my skills; as the saying goes, "if you know you can do better, then do better". So, developing apps and software which will make life easier is the main motto of my life.</p>
                    <br>
                    <p>If you have any queries you can contact me.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/me.html"
                                class="button is-uppercase has-text-weight-normal is-black is-outlined">Know More</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>