<section class="hero is-medium is-dark is-bold has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <br>
            <h2 class="title has-text-white is-size-1 has-text-weight-bold">Want to contact me?</h2>
            <br>
            <p class ="subtitle has-text-white is-size-5 has-text-weight-bold">Contact me using the following:</p>
            <br>
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-uppercase has-text-weight-normal is-light is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-uppercase has-text-weight-normal is-light is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            <br>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-light is-marginless">
                Or find me :
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-light"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-light"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-light"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-light"><i class="fab fa-github"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>